<!-- Page Content2  -->
<div id="content">

    <h2>
    {% if pagename == "home" %} Main page
    {% elif pagename == "dash_monthly_expense" %} Monthly spend info
    {% elif pagename == "dash_balance" %} Balance chart
    {% elif pagename == "update_form" %} Update data
    {% elif pagename == "dash" %} Spend info
    {% endif %}
    </h2>


    {% if pagename == "home" %}
        {% include 'lorem_ipsum.html' %}

    {% elif pagename == "chart" %}
        <img src="data:image/png;base64,{{ img_data }}"/>

    {% elif pagename == "update_form" %}
        <br>
        <h4>Choose file to update the table</h4>
        <table class="table table-striped" style="max-width: 600px;">
             <thead>
               <tr>
                <th>#</th>
                <th>Filename</th>
                <th>Modified</th>
               </tr>
             </thead>
             {% for key,value in folder.iterrows() %}
                <tr>
                    <td>{{ key }}</td>
                    <td><a href="/file_upload?id={{ value['id'] }}">{{ value['name'] }}</a></td>
                    <td>{{ value['modifiedTime'] }}</td>
                </tr>
             {% endfor %}
        </table>

    {% elif pagename == "db_updated" %}
         <h4>Success!</h4>
         <text>{{ message }}</text>

    {% elif pagename == "dash_monthly_expense" %}
         <iframe class="dash-chart" src="/dash/monthly_expense" width="1000" height="800">

     {% elif pagename == "dash_balance" %}
         <iframe class="dash-chart" src="/dash/balance" width="1000" height="800">

    {% endif %}
</div>
